
__MACOSX/._building python pipeline.ipynb
__MACOSX/._datapipe_utils.py
__MACOSX/._DTrees , RF, Extra Trees for Regression.ipynb
.ipynb_checkpoints/Building Data Pipeline-checkpoint.ipynb
__MACOSX/._Linear model for classifcation (logistic regression).ipynb
__MACOSX/._Linear Regression.ipynb
__MACOSX/._Tree, RF, ExtraTree for Classification.ipynb
